*[brand*=abc] {
  background-image: url("../assetts/brands/404.svg");
  background-color: #ffffff88;
}

*[brand*=instapaper] {
 background-image: url("../assetts/brands/instapaper.svg");
 background-color: #bfbfbf88;
}

*[brand*=deepl] {
 background-image: url("../assetts/brands/deepl.svg");
 background-color: #dceaf888;
}

*[brand*=garmin] {
 background-image: url("../assetts/brands/garmin.svg");
 background-color: #c3e9ff88;
}

*[brand*=twitch] {
 background-image: url("../assetts/brands/twitch.svg");
 background-color: #f1edf888;
}

*[brand*=ohmportal] {
 background-image: url("../assetts/brands/ohmportal.svg");
 background-color: #a0caff88;
}

*[brand*=carrd] {
 background-image: url("../assetts/brands/carrd.svg");
 background-color: #eae1ea88;
}

*[brand*=amazon] {
 background-image: url("../assetts/brands/amazon.svg");
 background-color: #ffcc8088;
}

*[brand*=google] {
 background-image: url("../assetts/brands/google.svg");
 background-color: #bad3fb88;
}

*[brand*=ebay] {
 background-image: url("../assetts/brands/ebay.svg");
 background-color: #f3a3a688;
}

*[brand*=zalando] {
 background-image: url("../assetts/brands/zalando.svg");
 background-color: #ffb48088;
}

*[brand*=feedly] {
 background-image: url("../assetts/brands/feedly.svg");
 background-color: #e4f8e988;
}

*[brand*=monkii] {
  background-image: url("../assetts/brands/monkii.svg");
  background-color: #c7e3a188;
 }

 *[brand*=papierkram] {
  background-image: url("../assetts/brands/papierkram.svg");
  background-color: #abe5fe88;
 }

 *[brand*=booking] {
  background-image: url("../assetts/brands/booking.svg");
  background-color: #80b5ff88;
 }

*[brand*=chip] {
  background-image: url("../assetts/brands/chip.svg");
  background-color: #f7b4b288;
}

*[brand*=netflix] {
  background-image: url("../assetts/brands/netflix.svg");
  background-color: #feefef88;
}

*[brand*=bild] {
  background-image: url("../assetts/brands/bild.svg");
  background-color: #ffdbdb88;
}

*[brand*=twitter] {
  background-image: url("../assetts/brands/twitter.svg");
  background-color: #96d3f988;
}

*[brand*=paypal] {
  background-image: url("../assetts/brands/paypal.svg");
  background-color: #87b2ff88;
}

*[brand*=yahoo] {
  background-image: url("../assetts/brands/yahoo.svg");
  background-color: #c393ff88;
}

*[brand*=pornhub] {
  background-image: url("../assetts/brands/pornhub.svg");
  background-color: #ffd69a88;
}

*[brand*=reddit] {
  background-image: url("../assetts/brands/reddit.svg");
  background-color: #ffa28088;
}

*[brand*=yandex] {
  background-image: url("../assetts/brands/yandex.svg");
  background-color: #ffe68088;
}

*[brand*=kleinanzeigen] {
  background-image: url("../assetts/brands/kleinanzeigen.svg");
  background-color: #f3a3a688;
}
*[brand*=wikipedia] {
  background-image: url("../assetts/brands/wikipedia.svg");
  background-color: #bfbfbf88;
}

*[brand*=facebook] {
  background-image: url("../assetts/brands/facebook.svg");
  background-color: #dfe6f388;
}
*[brand*=instagram] {
  background-image: url("../assetts/brands/instagram.svg");
  background-color: #b1bdf588;
}

*[brand*=web] {
  background-image: url("../assetts/brands/web.svg");
  background-color: #ffec8088;
}

*[brand*=youtube] {
  background-image: url("../assetts/brands/youtube.svg");
  background-color: #ff808088;
}

*[brand*=baqend] {
  background-image: url("../assetts/brands/baqend.svg");
  background-color: #fac8bd88;
}

 