a.is-disabled {
 cursor: not-allowed;
}

a.is-disabled:hover {
 color: red;
}

a.is-disabled:hover:after {
 color: red;
 content: "\00A0is disabled";
}

a.delete {
 margin: 0.75rem;
 background-color: #8b000088;
}

a.delete:focus,
a.delete:hover {
 background-color: #8b0000;
}

.modal-card-foot,
.modal-card-head {
 background-color: #FFF;
}

.card-background {
 background-position: center;
 background-repeat: repeat-x;
 background-size: contain;
 background-blend-mode: lighten;
 background-attachment: inherit;
 background-image: url("../assetts/brands/404.svg");
 background-color: #ffffff88;
}

.card-content {
 word-wrap: anywhere;
}

.card {
 height: 100%;
 border-radius: 4px;
}

.card a {
 height: 175px;
 display: block;
}

.jumbotron {
  box-shadow: unset; 
  padding: 0;
}

.limitbar {
  box-shadow: unset; 
  padding-bottom: 0;
}

.progress.is-small {
  height: 0.05rem;
}

.section {
  padding: 2rem 1.5rem;
}

@media (max-width: 768px) {
  .jumbotron {
    padding-left: 1.25rem;
  }
}