<!DOCTYPE html>
<html class="no-js" lang="">

head
  include snippets/head.html

body
  include snippets/navigation.html
  
  include snippets/modals/login.html
  include snippets/modals/register.html
  include snippets/modals/premium.html

  include snippets/progress.html

  include snippets/form.html

  include snippets/limit.html

  include snippets/stripe.html

  include snippets/container.html

footer
  include snippets/footer.html

