a.is-disabled {
 cursor: not-allowed;
}

a.is-disabled:hover {
 color: red;
}

a.is-disabled:hover:after {
 color: red;
 content: "\00A0is disabled";
}

span.edit {
  color:rgba(10,10,10,.2);
  cursor: pointer;
}

span.edit:focus,
span.edit:hover {
 color: rgba(10, 10, 10, 0.75);
}

.delete:focus,
.delete:hover {
 background-color: rgba(139,0,0,1.000);
}

.modal-card-foot,
.modal-card-head {
 background-color: rgba(255,255,255,1.000);
}

.card-background {
 background: linear-gradient(to bottom, white 0%, lightgray 100%);
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 background-blend-mode: lighten;
 background-attachment: inherit;

}

.card-content {
 word-wrap: anywhere;
}

.card {
 height: 100%;
 border-radius: 4px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
}

.card a {
 height: 175px;
 display: block;
}

.jumbotron {
  box-shadow: unset; 
  padding: 0;
}

.limitbar {
  box-shadow: unset; 
  padding-bottom: 0;
}

.progress.is-small {
  height: 0.05rem;
}

.section {
  padding: 2rem 1.5rem;
}

@media (max-width: 768px) {
  .jumbotron {
    padding-left: 1.25rem;
  }
}